<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank

        </ion-title>
        <ion-buttons slot="end" padding-end>
            <ion-button (click)="playAnimation()">
                <ion-icon name="play"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="stopAnimation()">
                <ion-icon name="pause"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div text-center padding>
        <div id="container" style="display: inline-block;"></div>
    </div>

    <ion-segment (ionChange)="viewChanged($event)">
        <ion-segment-button value="0" checked>
            <ion-icon name="image"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="1">
            <ion-icon name="build"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <ng-container [ngSwitch]="selectedView">
        <ng-container *ngSwitchCase="0">
            <div padding>
                <ng-container *ngIf="!selectedTarget">
                    <ion-slides [options]="slideOpts">
                        <ion-slide *ngFor="let p of pictures">
                            <ion-button (click)="add(p)" fill="clear">
                                <img [src]="p.url"/>
                            </ion-button>
                        </ion-slide>
                    </ion-slides>
                </ng-container>
                <ng-container *ngIf="selectedTarget">
                    <div text-center>
                        <ion-button fill="clear" (click)="zoom()">
                            <fa-icon [icon]="['fa', 'search-plus']"></fa-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="shrink()">
                            <fa-icon [icon]="['fa', 'search-minus']"></fa-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="rotateRight()">
                            <fa-icon [icon]="['fa', 'redo']"></fa-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="rotateLeft()">
                            <fa-icon [icon]="['fa', 'undo']"></fa-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="increaseZ()">
                            <fa-icon [icon]="['fa', 'level-up-alt']"></fa-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="decreaseZ()">
                            <fa-icon [icon]="['fa', 'level-down-alt']"></fa-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="addAnimation()">
                            <ion-icon name="videocam"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="remove()">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" (click)="back()">
                            <ion-icon name="return-left"></ion-icon>
                        </ion-button>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <div text-center padding>
                <ion-text>
                    JSONで入出力する
                </ion-text>
            </div>
            <div text-center>
                <ion-button (click)="drawFromJson()">
                    入力
                    <ion-icon name="arrow-up"></ion-icon>
                </ion-button>
                <ion-button (click)="toJson()">
                    出力
                    <ion-icon name="arrow-down"></ion-icon>
                </ion-button>
            </div>
            <ion-textarea [(ngModel)]="inputJson" autoGrow
                          style="border: 1px solid var(--ion-color-medium); border-radius: 5px;">
            </ion-textarea>
            <div text-center padding>
                <ion-text>
                    画像で出力する
                </ion-text>
            </div>
            <div text-center>
                <ion-button (click)="downloadImage()">
                    ダウンロード
                    <ion-icon name="download"></ion-icon>
                </ion-button>
            </div>
            <div text-center padding>
                <ion-text>
                    GIFで出力する
                </ion-text>
            </div>
            <div text-center>
                <ion-button (click)="toGif()">
                    ダウンロード
                    <ion-icon name="download"></ion-icon>
                </ion-button>
            </div>
        </ng-container>
    </ng-container>
</ion-content>
